#datepicker1,#datepicker2 {
    width: 400px;
    height:260px;
    background-color:aliceblue;
    border: solid 2px;
}

b1{
    width: 50px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 20px;
    margin: 1px;
    padding: 0px;
    border:0px;
    display: inline-block;
}

#dim{
    opacity: 0.5;
}

#head{
    text-align: center;
}

#body{
    text-align: center;
    display: block;
}

button{
    text-align: center;
    line-height: 30px;
    background-color:rgb(166, 204, 240);
}

.normal:active{
   background-color: rgb(224, 46, 114);
}
